[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=username
WorkingDirectory=/home/fox/sites/SITENAME/source
ExecStart=/home/fox/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket selfdev.wsgi:application

[Install]
WantedBy=multiple-user.target
